<section class="candidate-page">

  <div class="page-header">

    <div>
      <h1>Candidate Management</h1>

      <p>
        Manage interview participants and
        review their interview history.
      </p>
    </div>

    <button
      class="primary-button"
      type="button"
      (click)="addCandidate()">

      + Add Candidate

    </button>

  </div>


  <div class="toolbar">

    <input
      type="text"
      placeholder="Search candidates..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="search()">

    <button
      type="button"
      class="search-button"
      (click)="search()">

      Search

    </button>

    @if (searchTerm) {

      <button
        type="button"
        class="clear-button"
        (click)="clearSearch()">

        Clear

      </button>

    }

  </div>


  <div class="table-card">

    @if (loading) {

      <div class="state-message">
        Loading candidates...
      </div>

    } @else if (error) {

      <div class="state-message error-message">
        {{ error }}
      </div>

    } @else {

      <table>

        <thead>

        <tr>
          <th>Candidate</th>
          <th>Email</th>
          <th>Target Role</th>
          <th>Level</th>

          <th class="actions-column">
            Actions
          </th>
        </tr>

        </thead>

        <tbody>

          @for (
              candidate of candidates;
            track candidate.id
            ) {

            <tr>

              <td>

                <strong>
                  {{ candidate.firstName }}
                  {{ candidate.lastName }}
                </strong>

              </td>

              <td>
                {{ candidate.email }}
              </td>

              <td>
                {{ candidate.targetRole || '-' }}
              </td>

              <td>

                <span class="level">

                  {{
                    getExperienceLevel(
                      candidate.experienceLevel
                    )
                  }}

                </span>

              </td>

              <td class="actions">

                <button
                  class="action-button"
                  (click)="viewCandidate(candidate.id)">

                  View

                </button>

                <button
                  class="action-button"
                  (click)="editCandidate(candidate.id)">

                  Edit

                </button>

              </td>

            </tr>

          } @empty {

            <tr>

              <td
                colspan="5"
                class="empty-state">

                No candidates found.

              </td>

            </tr>

          }

        </tbody>

      </table>

    }

  </div>

</section>

